<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/common::common-header('ログイン画面')">
        <title>ログイン画面</title>
    </head>
    <body>
        <main class="container">
            <p th:if="${param.error}">
                IDまたはパスワードが間違っています。
            </p>

            <p th:if="${param.logout}">
                ログアウトしました。
            </p>

            <form th:action="@{/login}" method="post">
                <div class="mb-3"><label> ユーザー名 : <input type="text" name="username" class="form-control"/> </label></div>
                <div class="mb-3"><label> パスワード: <input type="password" name="password" class="form-control"/> </label></div>
                <div class="mb-3"><input type="submit" value="ログイン" class="btn btn-primary"/></div>
            </form>
        </main>

        <footer th:replace="fragments/common::common-footer">
            <a th:href="@{/}">HOME</a>
        </footer>
    </body>
</html>